body {
    background-color: lemonchiffon;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
}

#logo {
    display: block;
    margin: 20px auto 20px auto;
    width: 300px;
    height: 150px;
    cursor: pointer;
}