body {
    background-color: lemonchiffon;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
}

.error {
	color: red;
}

#logo {
    display: block;
    margin: 20px auto 20px auto;
    width: 300px;
    height: 150px;
    cursor: pointer;
}

#loginTypo {
	margin: 0 auto;
	width: 900px;
	font-size: 20px;
	border-style: solid;
	border-color: dimgray;
	border-width: 2px;
	border-radius: 10px;
	background-color: orange;
}

#authContainer {
	margin: 0 auto;
	width: 900px;
	border-style: solid;
	border-color: dimgray;
	border-width: 2px;
	border-radius: 10px;
	background-color: orange;
}